/*body {
    background-size: cover;
    background-position: center;
    text-align: left;

}

#top {
    background-color: violet;
}

.singlePlayer {
   /*background-color: lightblue;*/
    /*border: 2px solid blue;*/
    /*width: 60%;*/
    /*margin-left: auto;
    margin-right: auto;
    margin-bottom: 20px;
    padding: 10px; 
}

.mainContent {
    border: 2px dashed red;
}

img {
    width: 20%;
    vertical-align: center;
    
}

p {
    display: inline-block;
    width: 74%;
    /*vertical-align: middle;
}**/

color: #333333
color: rgb(51, 51, 51)
background-color: #000000
background-color: rgba(0, 0, 0, 0)
Font	
font-family (stack):
"Source Sans Pro", Arial, sans-serif
Font being rendered:
"Source Sans Pro"
font-size:
11.9856px
Spacing	
line-height:
17.1223px
vertical-align:
baseline
letter-spacing:
normal
word-spacing:
0px
Decoration \ Transformation	
font-weight:
normal
font-style:
normal
font-variant:
normal
text-transform:
none
text-decoration:
none solid rgb(51, 51, 51)
text-align:
center
text-indent:
0px